:root {
    --color-primario: #303F57;
    --color-secundario: #8AA5BD;
    --color3: #507394;
}

.container_register {
    background-image: url(/src/assets/img/register.jpg);
    width: 100%;
    height: 600px;
}

.content_card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.card_one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 500px;
    background-color: var(--color-secundario);
    opacity: 0.9;
    border-radius: 30px 0 0 30px;
}

.card_two {
    width: 25%;
    height: 500px;
    background-color: var(--color-primario);
    opacity: 0.9;
    border-radius: 0 30px 30px 0;
}

.logo {
    width: 150px;
}

.register_text {
    text-align: center;
}

.register_text h2 {
    color: white;
}

.content_form {
    display: flex;
    justify-content: center;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.fields label {
    color: white;
    margin-bottom: 5px;
}

.fields input {
    background-color: var(--color-secundario);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 25px;
    color: white;
    transition: all 300ms;
}

.fields input:focus {
   box-shadow: 0px 0px 0px 3px var(--color3);
}

#rol_select {
    background-color: var(--color-secundario);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 25px;
    color: white;
}

#rol_select:focus {
    box-shadow: 0px 0px 0px 3px var(--color3);
}

.button_register {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button_register button {
    background-color: var(--color3);
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms;
}

.button_register button:hover {
    background-color: var(--color-secundario);
}