.mainHome {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}

.services {
  display: flex;
  margin: 15px;
  column-gap: 10px;
}

.services .card {
  cursor: pointer;
  border-radius: 10px;
  width: 30vh;
  height: 10vh;
  background-color: #95B3CA;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}

.services .card:hover {
  color: #095ba8;
  background-color: #C9D8E5;
  transition: 0.4s all;
}