.navbar {
  display: flex;
  position: relative;
  top: 0;
  height: 8vh;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-items {
  display: flex;
  column-gap: 10px;
  text-transform: uppercase;
}

.navbar .nav-items ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  column-gap: 5px
}

.navbar .nav-items ul li {
  font-size: .8rem;
  cursor: pointer;
  font-weight: bold;
  padding: 6px
}

.navbar .nav-items ul li:hover {
  color: #095ba8;
  padding: 6px;
  background-color: #C9D8E5;
  border-radius: 5px ;
  transition: 0.4s all;
}
.navbar .nav-items .active li {
  color: white;
  padding: 6px;
  background-color: #507394;
  border-radius: 5px ;
}

.navbar .nav-items .active li:hover {
  color: white;
  background-color: #507394;
}

.navbar .nav-items .nav-btn {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar .nav-items .nav-btn .btn {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: .9rem;
  letter-spacing: .6px;
  border-radius: 7px;
  border: none;
  padding: 5px 15px;
  font-weight: 500;
}

.navbar .nav-items .nav-btn .btn-singup {
  color: white;
  background-color: #303F57;
}
.navbar .nav-items .nav-btn .btn-singup:hover {
  background-color: #3e4e6b
}

.navbar .nav-items .nav-btn .btn-login {
  color: black;
  background-color: #C9D8E5;
}
.navbar .nav-items .nav-btn .btn-login:hover {
  background-color: #b7d1e8
}

.user_login {
  display: flex;
  justify-content: space-between;
}

.logout {
  margin-top: 25px;
  font-size: 10px;
  margin-left: 10px;
}

.logout_link {
  color: #3e4e6b;
}

